# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Scient
* List of commonly used libraries used by Data Scientists
* Examles of evaluating arithemetic expression in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists included:

1. Pandas
2. SciPy
3. Kera
4. PyTorch

Data Science Tools |
-------------------|
Jupyter Notebook |
IBM Watson Studio |
Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to mutiple then andd integers.
(3 * 4) + 5

17

In [14]:
# this will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(f"{minutes} minutes equals to {hours:.2f} hours")

200 minutes equals to 3.33 hours

## Author
Chris H.